html {
  font: 16px sans-serif;
}

body {
  color: #FFF;
  background: #000;
  text-align: center;
}

a {
  color: #2997ff;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

canvas {
  border-radius: 0.25rem;
}
