html,
select {
  font: 16px sans-serif;
}

body {
  color: #fff;
  background: #000;
  text-align: center;
}

select,
canvas {
  border-radius: 0.25rem;
}

select {
  width: 12.5rem;
  padding: 0.375rem;
}

canvas {
  margin-top: 0.75rem;
}
