html, input {
  font: 16px sans-serif;
}

body {
  color: #fff;
  background: #000;
  text-align: center;
}

input, canvas {
  border-radius: 0.25rem;
}

input {
  text-indent: 0.25rem;
}

canvas {
  margin-top: 0.75rem;
}
